<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div id="cssmenu">
        <ul>
        <li><a routerLink='/'><img name="menu-icon" src="../../../favicon.ico" style="width:45px;height:45px;" ></a></li>
        <li><a routerLink="">Profil</a></li> 
        <li><a routerLink='/doctors-page'>Doctori</a></li>
        <li><a routerLink='/contact-page'>Contact</a></li>
        <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
